main {

  background-color: $background-main-color;
  border-radius: 20px;

  .first__section {

    article > label > h2 {
      font-size: $font-size;
      font-family: $font-family;
      font-weight: $font-weight-letter;
      color: $color-font-section;
    }

    article > .dollar__input input,
    article > .people__input input {
      font-family: $font-family;
      font-weight: $font-weight-number;
      color: $color-font-section;
      background-color: rgba(128, 128, 128, 0.307);
      border: none;
      border-radius: 5px;
      padding-left: 2em;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 10px 1rem;
    }

    article > .dollar__input input {
      background-image: url(../images/icon-dollar.svg);
    }

    article > .people__input input {
      background-image: url(../images/icon-person.svg);
    }

    .group__button {

      button {
        font-size: $font-size-button;
        font-family: $font-family;
        font-weight: $font-weight-number;
        background-color: $button-first-section;
        color: $color-font-button;
        border: none;
        border-radius: 5px;

        &:hover {
          background-color: $button-hover-color;
          color: $color-font-button-active;
        }

        &:focus {
          background-color: $button-hover-color;
          color: $color-font-button-active;
        }
      }
    }
  }

  .snd__section {
    background-color: $second-section-color;
    border-radius: 20px;

    h2, span {
      font-family: $font-family;
      font-weight: $font-weight-letter;
    }

    h2 {
      color: $color-font-second-section;
    }

    span {
      color: $color-span-second-section
    }

    button {
      font-size: $font-size-button;
      font-family: $font-family;
      font-weight: $font-weight-number;
      background-color: $button-hover-color;
      color: $color-font-button-active;
      border: none;
      border-radius: 5px;
    }
  }
}