$body-color: #C5E4E7;
$background-main-color: white;
$font-size: .9em;
$font-size-button: 1.3em;
$font-family: Space mono;
$font-weight-letter: 900;
$font-weight-number: 900;

// First Section

$color-font-section: #00474B;
$button-first-section: #00474B;
$color-font-button: white;
$button-hover-color: #26C2AD;
$color-font-button-active: #00474B;

// Second Section

$second-section-color: #00474B;
$color-font-second-section: white;
$color-span-second-section: gray;
